@CHARSET "UTF-8";

#webplayer{background-position: 131% -10%;background-size: 109%;}

#wp-controls{top: 80%;right: 50%;width: 48%;height: 12%;}

#wp-controls .wp-button {background-size: 969%;width: 50px;height: 39px;top: 11%; border: 3px solid #777799;}	

#play{background-position:0% 51.5%;right: 84%;}

#pause{background-position:0% 65%;right: 84%;}

#next{background-position: 0% 26%;right:52%;}

#prev{background-position:0% 0%;right:67%;}

#prev:active{background-position:0% 13%;}

#next:active{background-position:0% 39%;}

#play[data-status='active']{background-position:0% 65%;}

#pause[data-status='active']{background-position:0% 51.5%;}

#wp-volume-control{width: 177px;height: 10px;top: 86.5%;left: 70%;background:orange;border: solid 1px #000000;}

#Actuador-Volumen{background:#7c7c7c;border: solid 1px #000000;}

/********************************** SELECTOR ESTILOS ******************************************/

#channels-next-control, #channels-prev-control, #albums-next-control, #albums-prev-control{background-size: 738%;}

.channel{background: #aa33aa !important;border: 1px solid #ccaacc;background-image: none;}

#channels-next-control, #channels-prev-control{background-size: 1141%;}

#channels-next-control{background-position: 56% 83%;}

#channels-prev-control{background-position: 45% 83%;}

#albums-prev-control{background-position: 18% 93%;}

#albums-next-control{background-position: 32% 93%;}