#Cont-barra-izq{border: 1px solid #ccddcc;background-color:#99bb99;
	height:auto;box-shadow: 0px 0px 15px #222222;word-wrap:break-word;overflow-y:auto;
	top:12px;margin-bottom: 19px;transition-duration:1s;}
.m10{margin:10px;}